.container {
    @apply min-h-screen;
    @apply py-0;
    @apply px-6;
    @apply flex;
    @apply flex-col;
    @apply items-start;
    @apply h-full;
    @apply overflow-auto;
    @apply bg-white;
}

.main {
    @apply w-full;
    @apply h-full;
    @apply mt-0;
    @apply mb-12;
    @apply pb-6;
    @apply px-0;
}

.center {
    @apply w-full;
    @apply h-full;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
}

.center * {
    @apply text-center;
}

.top_block {
    @apply flex;
    @apply flex-row;
    @apply justify-between;
    @apply items-center;
    @apply pb-4;
    @apply border-b-2;
}

.top_block_country {
    @apply flex;
    @apply items-center;
    @apply text-base;
    @apply py-1;
    @apply px-4;
    @apply rounded-md;
    @apply text-gray-800;
    @apply bg-green-100;
}

.top_block > .button {
    @apply mr-3;
}

.flag {
    @apply relative;
    @apply h-2;
    @apply w-4;
    @apply mr-3;
}

.footer {
    @apply w-full;
    @apply h-16;
    @apply mb-12;
    @apply border-t;
    @apply text-center;
    @apply flex;
    @apply justify-center;
    @apply items-center;
}

.footer p {
    @apply text-gray-700;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title {
    text-align: center;
}

.description_container {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply h-full;
    @apply w-full;
    @apply mt-0;
    @apply mb-12;
    @apply pt-6;
    @apply mx-auto;
}

.description {
    @apply w-full;
}

.description_section {
    @apply mt-4;
    @apply mb-8;
}

.description_section > h1 {
    @apply text-gray-800;
    @apply text-base;
    @apply w-max;
    @apply mb-4;
    @apply py-1;
    @apply px-4;
    @apply bg-indigo-100;
    @apply rounded-md;
}

.description_item {
    @apply flex;
    @apply items-center;
    @apply justify-between;
    @apply w-full;
    @apply pb-2;
    @apply mb-2;
    @apply border-b-2;
    @apply border-dotted;
}

.description_item p {
    @apply flex;
}

.description_item img {
    @apply w-6;
    @apply ml-2;
}

.description_item h2 {
    @apply text-sm;
    @apply mr-6;
    @apply text-blue-400;
}

.add_info_container {
    @apply flex;
    @apply flex-col;
    @apply items-end;
    @apply space-y-2;
}

.add_info_container > a {
    @apply flex;
    @apply justify-between;
    @apply items-center;
    @apply px-3;
    @apply bg-yellow-100;
    @apply rounded-md;
}

.add_info_container > a:hover > .link_icon {
    @apply opacity-100;
    @apply translate-x-0;
}

.add_info_container > span {
    @apply flex;
}

.grid_view {
    @apply grid;
    @apply grid-cols-1;
    @apply gap-4;
}

.grid_column {
    @apply w-full;
    @apply break-words;
}

.column_body {
    @apply mt-6;
    @apply px-2;
}

.input {
    @apply border;
    @apply w-full;
    @apply h-8;
    @apply py-2;
    @apply px-3;
    @apply rounded-md;
}

.input:focus {
    @apply outline-none;
    @apply border-blue-400;
    @apply ring-2;
    @apply ring-blue-400;
    @apply ring-opacity-50;
}

.search_result_container {
    @apply absolute;
    @apply mt-2;
    @apply w-full;
    @apply max-h-72;
    @apply bg-white;
    @apply shadow-lg;
    @apply p-1;
    @apply ring-2;
    @apply ring-blue-400;
    @apply ring-opacity-50;
    @apply rounded-md;
}

.search_result {
    @apply max-h-72;
    @apply w-full;
    @apply rounded-md;
    @apply overflow-x-auto;
}

.result_item {
    @apply mb-2;
    @apply p-2;
    @apply rounded-md;
    @apply cursor-pointer;
}

.result_item:last-child {
    @apply mb-0;
}

.result_item:focus, .result_item:hover {
    @apply bg-gray-100;
}

.link {
    @apply text-lg;
    @apply text-blue-500;
}

.button {
    @apply flex;
    @apply items-center;
    @apply py-1;
    @apply px-4;
    @apply border;
    @apply rounded-md;
    @apply min-w-max;
}

.button:hover {
    @apply border-gray-300;
}

.button .icon {
    @apply mr-1;
}

.link_container {
    @apply flex;
    @apply justify-between;
    @apply items-center;
    @apply mb-2;
    @apply cursor-pointer;
    @apply hover:text-blue-500;
}

.lang_switcher {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply w-10;
    @apply h-10;
    @apply bg-gray-100;
    @apply dark:bg-gray-500;
    @apply rounded-md;
    @apply cursor-pointer;
}

.icon {
    @apply w-4;
    @apply h-4;
}

.code {
    @apply bg-gray-200;
    @apply rounded-md;
    @apply py-1;
    @apply px-3;
    @apply text-sm;
    @apply font-mono;
}

.link_icon {
    @apply opacity-0;
    @apply transform;
    @apply -translate-x-2;
    @apply duration-150;
}

.link_icon:hover {

    @apply text-blue-500 !important;
}

.link_container:hover .link_icon {
    @apply opacity-100;
    @apply translate-x-0;
}

.card {
    @apply m-4;
    @apply p-6;
    @apply text-center;
    @apply no-underline;
    @apply border;
    @apply border-gray-300;
    @apply rounded-md;
    @apply w-full;
    @apply cursor-pointer;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
    @apply text-blue-600;
    @apply border-blue-600;
}

.card h2 {
    /* @apply mb-4; */
    @apply text-xl;
}

.card p {
    @apply m-0;
    @apply text-lg;
    @apply leading-normal;
}

.nav_link {
    @apply text-gray-800;
    @apply dark:text-gray-100;
    @apply cursor-pointer;
}

.nav_link:hover {
    @apply text-blue-600;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media (min-width: 640px) {
    .card {
        @apply w-2/5;
    }

    .grid_view {
        @apply grid-cols-2;
    }
    
    .grid_column {
        @apply p-6;
    }

    .footer {
        @apply mb-0;
    }
}

@media (min-width: 768px) {
    .main {
        @apply mb-0;
    }

    .description_container {
        @apply mt-12;
        @apply mb-0;
    }

    .description {
        @apply px-48;
        @apply max-w-screen-xl;
    }
}

@media (min-width: 1024px) {
    .card {
        @apply w-1/4;
    }

    .grid_view {
        @apply grid-cols-3;
    }
}

@media (min-width: 1536px) {
    .card {
        @apply w-1/5;
    }
    
    .grid_view {
        @apply grid-cols-5;
    }
}
